<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UrfKappa | Urf Statistics</title>
    <link rel="stylesheet" href="../static/css/foundation.css" />
    <link rel="stylesheet" href="../static/css/urf.css" />
    <script src="../static/js/vendor/modernizr.js"></script>
    <script src="../static/js/vendor/jquery.js"></script>
    <script src="../static/js/foundation.min.js"></script>
    <script src="../static/js/vendor/jqBarGraph.1.1.min.js"></script>
    <script src="../static/js/urf.js"></script>
  </head>
  <body>
        <div class="row">
            <div class="large-12 columns">
                <nav class="top-bar" data-topbar>
                  <ul class="title-area">
                    <li class="name">
                      <h1>
                        <a href="#">
                          UrfKappa
                        </a>
                      </h1>
                    </li>
                    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
                  </ul>
                </nav>
            </div>
        </div>
           
           
        <div class="row">
          <div class="large-12 columns">
            <div class="hide-for-small">
              <div id="featured">
                    <img src="../static/img/urf.jpg" class="urf-banner">
              </div>
            </div>
          </div>
        </div><br>
        
        <div class="row" id="champ-grid">
        	<div class="large-12 columns">
                <div class="row" id"instructions">
                    <h4 class="panel">Select any two champions in the grid to find their win rates against each other in URF Mode!</h4>
                </div>
        		{% for champ_row in champ_list | batch(12, '&nbsp;') %}
                <div class="row">
		            {% for champ_tuple in champ_row %}
		            <div class="large-1 columns champion" id="{{ champ_tuple[1]['name'] }}" data-id="{{champ_tuple[1]['id']}}">
		            	<h4><img src="../static/icons/{{ champ_tuple[1]['name'] }}Square.png"/></h4>
		            </div>
		            {% endfor %}
		          </div>
                  {% endfor %}
            </div>
        </div>

        <div class="row"></div>

        <div class="row" id="stats" style="display:none">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-2 columns">
                        <h4 class="panel"><img src="" id="orange-champ-pic"></h4>
                    </div>
                    <div class="large-8 columns">
                        <div id="stats-graph"></div>
                    </div>
                    <div class="large-2 columns">
                        <h4 class="panel"><img src="" id="blue-champ-pic"></h4>
                    </div>
                </div>
                <div class="row">
  					<div class="large-4 columns large-centered">
  						<div class="large button expand" style="margin-top : 20px" id="reset">Back to Champion Grid</div>
  					</div>
  				</div>
            </div>
		</div>
        
       
        <footer class="row">
          <div class="large-12 columns">
            <hr>
            <div class="row">
              <div class="large-6 columns">
                <p>© Jeffrey Ouyang and Robert Winders</p>
              </div>
            </div>
          </div>
        </footer>
        
  </body>
</html>